<!DOCTYPE html>
<html ng-app="ambro" class="main-bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ambro-sias</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/angular-motion.min.css" rel="stylesheet">

    <link href="/Content/site.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0;" class="main-bg" ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a class="navbar-brand" href="/">
@*                    <span class="visible-xs text-light">Ambro-sia's</span>*@
                    <div class="col-sm-10 hidden-xs">
                        <img style="margin-top: -27%" class="img-responsive" src="/Content/img/Ambro-Sias_Logo-sm.png" />
                    </div>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("nav")
                </ul>
            </div>
        </div>
    </nav>

    <div style="min-height: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0;" class="container inner-bg">
        <img class="hidden-sm hidden-xs" src="/Content/img/LPillar.png" style="position: absolute; top:51px; bottom: 0; left: -90px; z-index: 9000;" />
        <img class="hidden-sm hidden-xs" src="/Content/img/RPillar.png" style="position: absolute; top:51px; bottom: 0; right: -80px; z-index: 9000;" />

        <div style="overflow-y: scroll; overflow-x: auto;  max-height: 100%;">
@*            <div style="height: 400px; margin-top:51px; width: 100%; background-image: url('/Content/img/catering/Baklava.jpg');  *@
@*                background-repeat: no-repeat; background-size: contain; ">*@
@*            </div>*@
            <div style="height: 400px; margin-top:51px;  background-image: url(/Content/img/GreekKeyTile.png);  background-repeat: repeat;">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <img class="img-responsive" src="~/Content/img/Ambro-Sias_Logo.png" />
                </div>
            </div>
            <div style="margin: 20px;">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>

    <script src="/Scripts/angular-file-upload.js"></script>

    <script src="/Scripts/angular-strap.js"></script>
    <script src="/Scripts/angular-strap.tpl.js"></script>

    @*    <script src="/Scripts/angular-ui/ui-bootstrap.js"></script>*@
    @*    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>*@

    <script src="/app/app.js"></script>

    <script src="/app/directives.js"></script>
    <script src="/app/services/utils.js"></script>
    <script src="/app/services/apiSrv.js"></script>
    <script src="/app/services/productSrv.js"></script>
    <script src="/app/services/packageSrv.js"></script>

    <script src="/app/controllers/headerCtrl.js"></script>
    <script src="/app/controllers/homeCtrl.js"></script>
    <script src="/app/controllers/productsCtrl.js"></script>
    <script src="/app/controllers/productCtrl.js"></script>
    <script src="/app/controllers/cateringCtrl.js"></script>
    <script src="/app/controllers/favorsCtrl.js"></script>

    <script src="/app/controllers/manageProductsCtrl.js"></script>


    <script src="/app/app-config.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
