
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nav
{
    <a class="text-muted" href="#/products">Pastries</a>
    <a class="text-muted" href="#/products">Cookies</a>
}

@RenderBody()


