@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nav
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a ng-class="{active: active('assortments')}" href="/assortments">Assortments</a>
            </li>
            <li>
                <a ng-class="{active: active('pastries')}" href="/pastries">Pastries</a>
            </li>
            <li>
                <a ng-class="{active: active('cookies')}" href="/cookies">Cookies</a>
            </li>
            <li>
                <a ng-class="{active: active('cookies')}" href="/seasonal">Seasonal</a>
            </li>
        </ul>
    <li>
    <li>
        <a ng-class="{active: active('catering')}" href="/catering">Catering</a>
    </li>
    <li>
        <a ng-class="{active: active('favors')}" href="/favors">Favors</a>
    </li>
    <li>
        <a ng-class="{active: active('about')}" href="/about">About Us</a>
    </li>
    <li>
        <a ng-class="{active: active('testimonials')}" href="/testimonials">Testimonials</a>
    </li>
    <li>
        <a ng-class="{active: active('contact')}" href="/contact">Contact</a>
    </li>
    <li>
        <a ng-class="{active: active('find')}" href="/find">Where to Buy</a>
    </li>
    @*    <a ng-class="{active: active('assortments')}" href="#/assortments">Assortments</a>*@
    @*    <a ng-class="{active: active('pastries')}" href="#/pastries">Pastries</a>*@
    @*    <a ng-class ="{active: active('cookies')}" href="#/cookies">Cookies</a>*@
    @*    <a ng-class ="{active: active('catering')}" href="#/catering">Catering</a>*@
    @*    <a ng-class="{active: active('contact')}" href="#/contact">Request Information</a>&nbsp;*@
}

@RenderBody()


