
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nav
{
    <a class="text-muted" href="#/assortments">Assortments</a>
    <a class="text-muted" href="#/pastries">Pastries</a>
    <a class="text-muted" href="#/cookies">Cookies</a>
    <a class="text-muted" href="#/catering">Catering</a>
    <a class="text-muted" href="#/contact">Request Information</a>&nbsp;
}

@RenderBody()


