/*.main-header, .navbar.main-header {*/
    /*background-color: #2D1912;
    background-image: url('img/headerbg.png');*/
    /*background-color: #E4693F !important;
    border: 0;
}*/

/*.main-sub-header {
    background-color: #E4693F;
    top: 50px;
}*/

.top-logo {
    position: fixed;
    top: -75px;
    left: -75px;
    z-index: 999999;

    width: 400px; 
}

.main-bg {
    /*background-color: #E1C69D;*/
    background-color: #efe1cc;
    /*background-color: #DFD8BD;
    background-image: url('img/bg/Parthenon.jpg');*/
    -ms-background-size: cover;
    background-size: cover;
}

.main-nav {
    padding: 20px 20px 20px 20px;
}

.main-nav a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    color: #aaa;
}

.main-nav a:hover {
    text-decoration: none;
    color: #444;
}

.main-nav a.active {
    color: #444;
}

.text-light {
    color: #aaa;
}

.text-dark {
    color: #666;
}

.text-darker {
    color: #444;
}

.text-goldish {
    color: #c59c71;
}

.text-yellow {
    color: #ffcc33;
}
.text-sm {
    font-size: .75em;
}
.text-md {
    font-size: 1.15em;
}
.text-lg {
    font-size: 1.30em;
}
.text-xl {
    font-size: 1.45em;
}
.text-xxl {
    font-size: 1.75em;
}
.borded-sides {
    border-right: 1px solid #696969;
    border-left: 1px solid #696969;
}

.borded-right {
    border-right: 1px solid #bdbdbd;
}

.border-hor-wrapper .border-hor-child {
    border-left: 1px solid #999;
}

.border-hor-wrapper .border-hor-child:last-child {
    border-right: 1px solid #999;
}

.border-vert-wrapper .border-vert-child {
    border-top: 1px solid #999;
}

.border-vert-wrapper .border-vert-child:last-child {
    border-bottom: 1px solid #999;
}

.header {
    font-weight: bold;
    border-bottom: 2px solid #444;
    margin-bottom: 10px;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    color: #777;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

hr.spacer {
    margin-bottom: 10px !important;
    border-top: 1px solid #bdbdbd !important;
}

.items-table {
    margin-top: 15px;
}