/*.main-header, .navbar.main-header {*/
    /*background-color: #2D1912;
    background-image: url('img/headerbg.png');*/
    /*background-color: #E4693F !important;
    border: 0;
}*/

/*.main-sub-header {
    background-color: #E4693F;
    top: 50px;
}*/

.main-bg {
    background-color: #DFD8BD;
    background-image: url('img/bg/Parthenon.jpg');
    -ms-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 65px;
    padding-bottom: 20px;
}

input {
    color: #777;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}