
<div class="row">
    <div class="col-sm-12">
        <div>
            <div class="col-md-6 borded-right">
                <h1 class="text-bold text-darker">Tell us about it...</h1>
                <p class="text-md-lg text-justify text-white">We would love to hear from you! Please use this form for any comments, suggestions, questions about products that we offer, or to let us know about your upcoming event where you would like to feature our delectable authentic Greek pastries and cookies. Your business is very important to us. A member of our team will contact you soon!</p><br /><br />
                <p class="text-bold text-darker text-xxl text-center">Thank you!</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="text-bold text-darker">Contact Us!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-white">
                        <h3 class="text-center am-fade" >
                            <span ng-if="con.sent"><i class="fa fa-check text-blue text-center"></i> Thank you for taking the time to contact us.</span>
                            <span ng-if="con.isSending">Sending...</span>
                        </h3>
                        <form class="am-fade" ng-hide="con.isSending || con.sent" ng-submit="contact(con)" role="form">
                            <div ng-if="con.error" class="alert alert-danger">There was a problem processing your request.</div>

                            <div class="form-group">
                                <input required ng-model="con.fullName" type="text" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <input required ng-model="con.email" type="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <textarea required ng-model="con.body" style="width: 100%; height: 100px;" class="form-control" placeholder="How can we help you?"></textarea><br />

                            </div>
                            <button ng-disabled="isSending" type="submit" class="btn btn-default pull-right"><i class="fa fa-send"></i> Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>