
<div class="row text-white">
    <div class="col-md-6">
        <img class="img-responsive img-thumbnail" src="{{package.imgUrl}}" alt="...">
    </div>
    <div class="col-md-6 text-white">
        <h2 style="margin-bottom: 1em;" class="text-darker">{{package.product.productName}} <span class="text-blue">{{package.price | currency}}</span></h2>

        <h4 ng-if="package.size && package.size.length">Package Size: {{package.size}}</h4>
        <h4>Container: {{package.packageName}}</h4>
        <h4 ng-if="package.containerSize && package.containerSize.length">Container Dimensions: {{package.containerSize}}</h4>
        <h4 ng-if="package.packQuantity">Pieces: {{package.packQuantity}}</h4>
        <h4 ng-if="package.pieceSize && package.pieceSize.length">Piece Size: {{package.pieceSize}}</h4>
        <h4 ng-if="package.containerDescription && package.containerDescription.length">{{package.containerDescription}}</h4>
        <h4 ng-if="package.netWeightPounds && package.netWeightPounds.length">Net Weight: {{package.netWeightPounds}}</h4>

    </div>
</div>
<div class="row text-white">
    <div class="col-md-6">
        <h4>Description:</h4>
        <p class="text-md">
            {{package.product.productDescription}}
        </p>
    </div>
    <div ng-if="package.product.ingredients" class="col-md-6">
        <h4>Ingredients:</h4>
        <p class="text-md">
            {{package.product.ingredients}}
        </p>
    </div>
</div>